# Klipper-specific files to ignore

printer-*_*.cfg
*.bak
*.bkp
.moonraker.conf.bkp

# Sensitive files
.env
secrets.conf

# Temporary and log files
*.log
*.csv
*.zip
*.swp
*.tmp

# OS-specific temporary files
.DS_Store
