[mcu EBBT4]
canbus_uuid: 40a8d38ff47c

[adxl345 T4]
cs_pin: EBBT4: PB12
spi_software_sclk_pin: EBBT4: PB10
spi_software_mosi_pin: EBBT4: PB11
spi_software_miso_pin: EBBT4: PB2
axes_map: x,z,-y

[extruder4]
step_pin: EBBT4: PD0
dir_pin: EBBT4: PD1
enable_pin: !EBBT4: PD2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.660185
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance = 0.024
heater_pin: EBBT4: PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: EBBT4: PA3
control: pid
pid_Kp=28.431
pid_Ki=3.868
pid_Kd=52.243
min_temp: 10
max_temp: 270
min_extrude_temp: 170
max_extrude_cross_section: 999
max_extrude_only_distance: 999

[tmc2209 extruder4]
uart_pin: EBBT4: PA15
run_current: 0.850
interpolate: true
sense_resistor: 0.11
stealthchop_threshold: 0
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4

[multi_fan T4_partfan]
pin: EBBT4: PA1

[heater_fan T4_hotend_fan]
pin: EBBT4: PA0
heater: extruder4
heater_temp: 50.0
kick_start_time: 0.5

[gcode_macro T4]
variable_color: ""
gcode:
  SELECT_TOOL T=4

[tool T4]
tool_number: 4
extruder: extruder4
fan: multi_fan T4_partfan

gcode_x_offset: -0.415625
gcode_y_offset: 0.346875
gcode_z_offset: -0.192500

params_park_x: 271.8
params_park_y: 6.5
params_park_z: 295.435

params_input_shaper_freq_x: 55.0
params_input_shaper_type_x: 'mzv'
params_input_shaper_damping_ratio_x: 0.116

params_input_shaper_freq_y: 37.4
params_input_shaper_type_y: 'mzv'
params_input_shaper_damping_ratio_y: 0.060


[tool_probe T4]
pin: EBBT4:PB6
tool: 4
x_offset: 0 # X axis-sensor relative nozzle offset
y_offset: 0 # Y axis-sensor relative nozzle offset
z_offset: -1.258 # Z axis-sensor relative nozzle offset. Increase to move lower
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.01 #0.006
samples_tolerance_retries: 5

activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder4


[temperature_sensor T4_MCU]
sensor_type: temperature_mcu
sensor_mcu: EBBT4

[neopixel T4_leds]
pin: EBBT4:PD3
chain_count: 3
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
initial_WHITE: 1.0

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBT4:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBT4:PB3